#!/bin/bash
#PBS -l wd
#PBS -l ncpus={{ncpus}}
#PBS -l mem={{mem}}
#PBS -l walltime={{walltime}}
#PBS -q normal
#PBS -P {{project}}
#PBS -j oe
#PBS -m e
#PBS -l storage={{storage_str}}

set -ev

{{metplan_path}} run {{metplan_var}}